<h3 style="color:blue">{{title}}</h3>

<hr/>
<h3>Selector de colores</h3>

<button (click)="logColorSeleccionado()">Mostrar log</button>
<input type="text" [(ngModel)]="color_seleccionado"/>
<pre>
	{{color_seleccionado}}
</pre>
<div [ngStyle]="{'background':color_seleccionado, 'width': '200px', 'height': '200px', 'float': 'right', 'margin-right': '69%'}"></div>

<div style='clear:both'></div>

<hr/>
<strong>Empleado estrella:</strong>
<br/>
<br/>
<div  *ngIf="trabajador_externo == true">
	<button (click) = "cambiarExterno(false)">Mostrar trabajador</button>

	<ul>
		<li>{{trabajadores[0].nombre}}</li>
		<li>{{trabajadores[0].edad}}</li>
		<li>{{trabajadores[0].cargo}}</li>
		<li *ngIf="trabajadores[0].contratado == true">Está contratado</li>
		<li *ngIf="trabajadores[0].contratado == false">NO está contratado</li>
	</ul>
</div>

<div  *ngIf="trabajador_externo == false">
	<button (click) = "cambiarExterno(true)">Mostrar empleado</button>

	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf="empleado.contratado == true">Está contratado</li>
		<li *ngIf="empleado.contratado == false">NO está contratado</li>
	</ul>
</div>

<hr/>
<h3>Listado de empleados</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index">
		<strong>Empleado {{i}}:</strong>	
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li *ngIf="empleado.contratado == true">Está contratado</li>
			<li *ngIf="empleado.contratado == false">NO está contratado</li>
		</ul>
	</li>
</ul>

<hr/>
<h3>Colores swith</h3>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color ROJO</li>

	<li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color VERDE</li>

	<li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color AZUL</li>


</ul>